# Book ratings

From: https://github.com/zygmuntz/goodbooks-10k/tree/master (`books.csv`)

In [1]:
import pandas as pd

In [2]:
books = pd.read_csv("./data/raw/books.csv")
print(books.shape)
books.head()

(10000, 23)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [3]:
books.head(1).T

                                                                           0
book_id                                                                    1
goodreads_book_id                                                    2767052
best_book_id                                                         2767052
work_id                                                              2792775
books_count                                                              272
isbn                                                               439023483
isbn13                                                       9780439023480.0
authors                                                      Suzanne Collins
original_publication_year                                             2008.0
original_title                                              The Hunger Games
title                                The Hunger Games (The Hunger Games, #1)
language_code                                                            eng
average_rating                                                          4.34
ratings_count                                                        4780653
work_ratings_count                                                   4942365
work_text_reviews_count                                               155254
ratings_1                                                              66715
ratings_2                                                             127936
ratings_3                                                             560092
ratings_4                                                            1481305
ratings_5                                                            2706317
image_url                  https://images.gr-assets.com/books/1447303603m...
small_image_url            https://images.gr-assets.com/books/1447303603s...

In [4]:
book_ratings = books[
    [
        "goodreads_book_id",
        "authors",
        "original_publication_year",
        "original_title",
        "title",
        "average_rating",
        "small_image_url",
    ]
].copy()

book_ratings.head()

,goodreads_book_id,authors,original_publication_year,original_title,title,average_rating,small_image_url
0,2767052,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",4.34,https://images.gr-assets.com/books/1447303603s...
1,3,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,4.44,https://images.gr-assets.com/books/1474154022s...
2,41865,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",3.57,https://images.gr-assets.com/books/1361039443s...
3,2657,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,4.25,https://images.gr-assets.com/books/1361975680s...
4,4671,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,3.89,https://images.gr-assets.com/books/1490528560s...

We need to normalise book ratings to /100. It's currently out of 5 so we can just multiply by 20.

In [5]:
book_ratings["average_rating_normalised"] = book_ratings["average_rating"] * 20

book_ratings["authors"] = book_ratings["authors"].str.upper().str.strip()
book_ratings["original_title"] = book_ratings["original_title"].str.upper().str.strip()
book_ratings["title"] = book_ratings["title"].str.upper().str.strip()

book_ratings.rename(
    columns={
        "authors": "author",
        "original_title": "book_title",
        "average_rating_normalised": "avg_book_rating",
    }
)

book_ratings.head()

,goodreads_book_id,authors,original_publication_year,original_title,title,average_rating,small_image_url,average_rating_normalised
0,2767052,SUZANNE COLLINS,2008.0,THE HUNGER GAMES,"THE HUNGER GAMES (THE HUNGER GAMES, #1)",4.34,https://images.gr-assets.com/books/1447303603s...,86.8
1,3,"J.K. ROWLING, MARY GRANDPRÉ",1997.0,HARRY POTTER AND THE PHILOSOPHER'S STONE,HARRY POTTER AND THE SORCERER'S STONE (HARRY P...,4.44,https://images.gr-assets.com/books/1474154022s...,88.8
2,41865,STEPHENIE MEYER,2005.0,TWILIGHT,"TWILIGHT (TWILIGHT, #1)",3.57,https://images.gr-assets.com/books/1361039443s...,71.4
3,2657,HARPER LEE,1960.0,TO KILL A MOCKINGBIRD,TO KILL A MOCKINGBIRD,4.25,https://images.gr-assets.com/books/1361975680s...,85.0
4,4671,F. SCOTT FITZGERALD,1925.0,THE GREAT GATSBY,THE GREAT GATSBY,3.89,https://images.gr-assets.com/books/1490528560s...,77.8

In [6]:
book_ratings.to_parquet("./data/book_ratings.parquet", index=False)

# Films

From: https://www.kaggle.com/datasets/kashifsahil/16000-movies-1910-2024-metacritic

In [10]:
films = pd.read_csv("./data/raw/16k_Movies.csv")
print(films.shape)
films.head()

(16290, 10)

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,7.4,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,8.3,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",7.3,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,8.1,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",7.8,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

Normalise rating to out of 100

In [11]:
films["Rating"] = films["Rating"] * 10
films.head()

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,74.0,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,83.0,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance"
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",73.0,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,81.0,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",78.0,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History"

Extract title without extra stuff and release year

In [ ]:
films["film_title"] = (
    films["Title"].str.replace("(re-release)", "").str.upper().str.strip()
)
films["film_published_date"] = pd.to_datetime(films["Release Date"]).dt.year
films.head(10)

,Unnamed: 0,Title,Release Date,Description,Rating,No of Persons Voted,Directed by,Written by,Duration,Genres,film_title,film_published_date
0,0,Dekalog (1988),"Mar 22, 1996",This masterwork by Krzysztof Kieślowski is one...,74.0,118,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz",9 h 32 m,Drama,DEKALOG (1988),1996
1,1,Three Colors: Red,"Nov 23, 1994",Krzysztof Kieslowski closes his Three Colors t...,83.0,241,Krzysztof Kieslowski,"Krzysztof Kieslowski, Krzysztof Piesiewicz, Ag...",1 h 39 m,"Drama,Mystery,Romance",THREE COLORS: RED,1994
2,2,The Conformist,"Oct 22, 1970","Set in Rome in the 1930s, this re-release of B...",73.0,106,Bernardo Bertolucci,"Alberto Moravia, Bernardo Bertolucci",1 h 47 m,Drama,THE CONFORMIST,1970
3,3,Tokyo Story,"Mar 13, 1972",Yasujiro Ozu’s Tokyo Story follows an aging co...,81.0,147,Yasujirô Ozu,"Kôgo Noda, Yasujirô Ozu",2 h 16 m,Drama,TOKYO STORY,1972
4,4,The Leopard (re-release),"Aug 13, 2004","Set in Sicily in 1860, Luchino Visconti's spec...",78.0,85,Luchino Visconti,"Giuseppe Tomasi di Lampedusa, Suso Cecchi D'Am...",3 h 7 m,"Drama,History",THE LEOPARD,2004
5,5,The Godfather,"Mar 24, 1972",Francis Ford Coppola's epic features Marlon Br...,93.0,"4,102",Francis Ford Coppola,"Mario Puzo, Francis Ford Coppola",2 h 55 m,"Crime,Drama",THE GODFATHER,1972
6,6,Boyhood,"Jul 11, 2014","Filmed over 12 years with the same cast, Richa...",75.0,"2,677",Richard Linklater,Richard Linklater,2 h 45 m,Drama,BOYHOOD,2014
7,7,Lawrence of Arabia (re-release),"Sep 20, 2002",The 40th anniversary re-release of David Lean'...,86.0,446,David Lean,"Robert Bolt, Michael Wilson",3 h 36 m,"Adventure,Biography,Drama,War",LAWRENCE OF ARABIA,2002
8,8,Fanny and Alexander (re-release),"May 21, 2004","Set in Sweden in the early 20th century, this ...",84.0,134,Ingmar Bergman,Ingmar Bergman,3 h 8 m,Drama,FANNY AND ALEXANDER,2004
9,9,Playtime,"Jun 27, 1973",Monsieur Hulot curiously wanders around a high...,77.0,22,Jacques Tati,"Jacques Tati, Jacques Lagrange, Art Buchwald",2 h 35 m,Comedy,PLAYTIME,1973

In [16]:
(
    films.dropna(subset=["Rating"]).to_parquet(
        "./data/film_metacritic_ratings.parquet", index=False
    )
)