`movies.csv` from https://www.kaggle.com/datasets/patkle/metacritic-scores-for-games-movies-tv-and-music

In [1]:
import pandas as pd

In [2]:
films = pd.read_csv("./data/raw/movies.csv")
print(films.shape)
films.head()

(15325, 8)

,id,metascore,rating,release_date,sort_no,summary,title,user_score
0,549123,94,TV-14,"July 26, 1989",101,A young boy and his little sister struggle to ...,Grave of the Fireflies (1988),8.9
1,522228,94,PG-13,"December 8, 2000",102,"In 19th century China, a magical sword given b...","Crouching Tiger, Hidden Dragon",8.2
2,550614,94,G,"September 11, 1970",103,"In a French forest in 1798, a child is found w...",The Wild Child,6.5
3,549303,94,TV-PG,"January 15, 1943",104,A young woman discovers her visiting uncle may...,Shadow of a Doubt,8.2
4,539956,94,PG,"June 19, 2015",105,"Growing up can be a bumpy road, and it’s no ex...",Inside Out,8.7

In [7]:
duplicate_films = films["title"].value_counts().loc[lambda x: x > 1].index
films[films.title.isin(duplicate_films)].sort_values("title")

,id,metascore,rating,release_date,sort_no,summary,title,user_score
1077,549665,83,G,"January 25, 1961",1078,When a litter of Dalmatian puppies are abducte...,101 Dalmatians,7.8
11186,522670,49,G,"November 27, 1996",11187,"Unleashing every ounce of Disney magic, 101 Da...",101 Dalmatians,6.1
10849,519668,50,NaN,"May 9, 2003",10850,Writer/director Helen Lesnick stars as a newly...,A Family Affair,5.3
2703,545591,75,Not Rated,"September 16, 2016",2704,"On his 30th birthday, Tom Fassaert receives a ...",A Family Affair,tbd
10147,521480,53,PG-13,"May 7, 2004",10148,"When their mother dies, two brothers (Arquette...",A Foreign Affair,6
...,...,...,...,...,...,...,...,...
1729,555479,79,R,"March 18, 2022",1730,"In 1979, a group of young filmmakers set out t...",X,6.6
6565,543837,64,Not Rated,"December 4, 2015",6566,"Fred (Michael Caine) and Mick (Harvey Keitel),...",Youth,7.1
4817,547412,69,Not Rated,"December 15, 2017",4818,A look at the lives of members in a Military C...,Youth,tbd
9483,545463,55,Not Rated,"September 2, 2016",9484,A multi-dimensional interface between a comic ...,Zoom,5.7
14796,517959,26,PG,"August 11, 2006",14797,A former superhero (Allen) is called back into...,Zoom,4.4

Try this next time, it has different reviews for different versions of the same film so we could join on title AND date