# Book ratings

From: https://github.com/zygmuntz/goodbooks-10k/tree/master (`books.csv`)

In [1]:
import pandas as pd

In [2]:
books = pd.read_csv("./data/raw/books.csv")
print(books.shape)
books.head()

(10000, 23)

,book_id,goodreads_book_id,best_book_id,work_id,books_count,isbn,isbn13,authors,original_publication_year,original_title,...,ratings_count,work_ratings_count,work_text_reviews_count,ratings_1,ratings_2,ratings_3,ratings_4,ratings_5,image_url,small_image_url
0,1,2767052,2767052,2792775,272,439023483,9.780439e+12,Suzanne Collins,2008.0,The Hunger Games,...,4780653,4942365,155254,66715,127936,560092,1481305,2706317,https://images.gr-assets.com/books/1447303603m...,https://images.gr-assets.com/books/1447303603s...
1,2,3,3,4640799,491,439554934,9.780440e+12,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,...,4602479,4800065,75867,75504,101676,455024,1156318,3011543,https://images.gr-assets.com/books/1474154022m...,https://images.gr-assets.com/books/1474154022s...
2,3,41865,41865,3212258,226,316015849,9.780316e+12,Stephenie Meyer,2005.0,Twilight,...,3866839,3916824,95009,456191,436802,793319,875073,1355439,https://images.gr-assets.com/books/1361039443m...,https://images.gr-assets.com/books/1361039443s...
3,4,2657,2657,3275794,487,61120081,9.780061e+12,Harper Lee,1960.0,To Kill a Mockingbird,...,3198671,3340896,72586,60427,117415,446835,1001952,1714267,https://images.gr-assets.com/books/1361975680m...,https://images.gr-assets.com/books/1361975680s...
4,5,4671,4671,245494,1356,743273567,9.780743e+12,F. Scott Fitzgerald,1925.0,The Great Gatsby,...,2683664,2773745,51992,86236,197621,606158,936012,947718,https://images.gr-assets.com/books/1490528560m...,https://images.gr-assets.com/books/1490528560s...

In [3]:
books.head(1).T

                                                                           0
book_id                                                                    1
goodreads_book_id                                                    2767052
best_book_id                                                         2767052
work_id                                                              2792775
books_count                                                              272
isbn                                                               439023483
isbn13                                                       9780439023480.0
authors                                                      Suzanne Collins
original_publication_year                                             2008.0
original_title                                              The Hunger Games
title                                The Hunger Games (The Hunger Games, #1)
language_code                                                            eng
average_rating                                                          4.34
ratings_count                                                        4780653
work_ratings_count                                                   4942365
work_text_reviews_count                                               155254
ratings_1                                                              66715
ratings_2                                                             127936
ratings_3                                                             560092
ratings_4                                                            1481305
ratings_5                                                            2706317
image_url                  https://images.gr-assets.com/books/1447303603m...
small_image_url            https://images.gr-assets.com/books/1447303603s...

In [4]:
book_ratings = books[
    [
        "goodreads_book_id",
        "authors",
        "original_publication_year",
        "original_title",
        "title",
        "average_rating",
        "small_image_url",
    ]
].copy()

book_ratings.head()

,goodreads_book_id,authors,original_publication_year,original_title,title,average_rating,small_image_url
0,2767052,Suzanne Collins,2008.0,The Hunger Games,"The Hunger Games (The Hunger Games, #1)",4.34,https://images.gr-assets.com/books/1447303603s...
1,3,"J.K. Rowling, Mary GrandPré",1997.0,Harry Potter and the Philosopher's Stone,Harry Potter and the Sorcerer's Stone (Harry P...,4.44,https://images.gr-assets.com/books/1474154022s...
2,41865,Stephenie Meyer,2005.0,Twilight,"Twilight (Twilight, #1)",3.57,https://images.gr-assets.com/books/1361039443s...
3,2657,Harper Lee,1960.0,To Kill a Mockingbird,To Kill a Mockingbird,4.25,https://images.gr-assets.com/books/1361975680s...
4,4671,F. Scott Fitzgerald,1925.0,The Great Gatsby,The Great Gatsby,3.89,https://images.gr-assets.com/books/1490528560s...

We need to normalise book ratings to /100. It's currently out of 5 so we can just multiply by 20.

In [ ]:
book_ratings["average_rating_normalised"] = book_ratings["average_rating"] * 20

book_ratings["authors"] = book_ratings["authors"].str.upper().str.strip()
book_ratings["original_title"] = book_ratings["original_title"].str.upper().str.strip()
book_ratings["title"] = book_ratings["title"].str.upper().str.strip()

book_ratings.rename(
    columns={
        "authors": "author",
        "original_title": "book_title",
        "average_rating_normalised": "avg_book_rating",
    }
)

book_ratings.head()

,goodreads_book_id,authors,original_publication_year,original_title,title,average_rating,small_image_url,average_rating_normalised
0,2767052,SUZANNE COLLINS,2008.0,THE HUNGER GAMES,"THE HUNGER GAMES (THE HUNGER GAMES, #1)",4.34,https://images.gr-assets.com/books/1447303603s...,86.8
1,3,"J.K. ROWLING, MARY GRANDPRÉ",1997.0,HARRY POTTER AND THE PHILOSOPHER'S STONE,HARRY POTTER AND THE SORCERER'S STONE (HARRY P...,4.44,https://images.gr-assets.com/books/1474154022s...,88.8
2,41865,STEPHENIE MEYER,2005.0,TWILIGHT,"TWILIGHT (TWILIGHT, #1)",3.57,https://images.gr-assets.com/books/1361039443s...,71.4
3,2657,HARPER LEE,1960.0,TO KILL A MOCKINGBIRD,TO KILL A MOCKINGBIRD,4.25,https://images.gr-assets.com/books/1361975680s...,85.0
4,4671,F. SCOTT FITZGERALD,1925.0,THE GREAT GATSBY,THE GREAT GATSBY,3.89,https://images.gr-assets.com/books/1490528560s...,77.8

In [6]:
book_ratings.to_parquet("./data/book_ratings.parquet", index=False)

# Films

From: https://www.kaggle.com/datasets/talha002/rottentomatoes-400k-review

In [7]:
films = pd.read_csv("./data/raw/rottentomatoes-400k.csv")
print(films.shape)
films.head()

(417058, 7)

,Unnamed: 0,Movie,Reviewer,Publish,Review,Date,Score
0,0,HOTEL TRANSYLVANIA: TRANSFORMANIA,James Luxford,City AM,I guess its always been hard for me to see the...,03/03/2022,40.0
1,1,HOTEL TRANSYLVANIA: TRANSFORMANIA,Mat Brunet,AniMat's Review (YouTube),Hotel Transylvania: Transformania is a present...,15/02/2022,30.0
2,2,HOTEL TRANSYLVANIA: TRANSFORMANIA,Robert Levin,Newsday,The conceit still works well enough to mostly ...,29/01/2022,75.0
3,3,HOTEL TRANSYLVANIA: TRANSFORMANIA,Jackie K. Cooper,jackiekcooper.com,"No Adam Sandler this time out, but the animate...",28/01/2022,60.0
4,4,HOTEL TRANSYLVANIA: TRANSFORMANIA,Asher Luberto,The Playlist,It's not likely we'll see another one of these...,28/01/2022,74.0

In [8]:
sorted(films["Score"].unique())

[np.float64(0.0),
 np.float64(0.2),
 np.float64(1.0),
 np.float64(1.8518518),
 np.float64(2.0),
 np.float64(2.1),
 np.float64(3.0),
 np.float64(4.0),
 np.float64(5.0),
 np.float64(6.0),
 np.float64(6.5),
 np.float64(6.6),
 np.float64(6.64363),
 np.float64(6.6666665),
 np.float64(7.0),
 np.float64(7.221),
 np.float64(7.5),
 np.float64(7.765823),
 np.float64(7.9545455),
 np.float64(8.0),
 np.float64(8.2),
 np.float64(8.3),
 np.float64(8.5),
 np.float64(8.571428),
 np.float64(9.0),
 np.float64(9.090909),
 np.float64(9.6),
 np.float64(10.0),
 np.float64(11.0),
 np.float64(11.111111),
 np.float64(12.0),
 np.float64(12.1),
 np.float64(12.5),
 np.float64(13.0),
 np.float64(14.0),
 np.float64(15.0),
 np.float64(15.242228),
 np.float64(16.0),
 np.float64(16.666666),
 np.float64(17.0),
 np.float64(17.5),
 np.float64(18.0),
 np.float64(18.2),
 np.float64(18.5),
 np.float64(18.8),
 np.float64(19.0),
 np.float64(19.444445),
 np.float64(19.528),
 np.float64(20.0),
 np.float64(21.0),
 np.float64(22.0),
 np.float64(22.028265),
 np.float64(22.12521),
 np.float64(22.222221),
 np.float64(22.82303),
 np.float64(23.0),
 np.float64(24.0),
 np.float64(24.8),
 np.float64(25.0),
 np.float64(26.0),
 np.float64(26.5),
 np.float64(27.0),
 np.float64(27.4),
 np.float64(27.5),
 np.float64(28.0),
 np.float64(28.4),
 np.float64(28.925219),
 np.float64(29.0),
 np.float64(29.5),
 np.float64(30.0),
 np.float64(30.21),
 np.float64(30.782),
 np.float64(31.0),
 np.float64(31.25),
 np.float64(31.439814),
 np.float64(32.0),
 np.float64(32.121),
 np.float64(32.22423),
 np.float64(32.5),
 np.float64(32.592),
 np.float64(33.0),
 np.float64(33.32),
 np.float64(33.333332),
 np.float64(34.0),
 np.float64(34.52433),
 np.float64(35.0),
 np.float64(35.15),
 np.float64(35.5),
 np.float64(35.6339),
 np.float64(36.0),
 np.float64(36.65),
 np.float64(36.664917),
 np.float64(37.0),
 np.float64(37.5),
 np.float64(37.521),
 np.float64(37.6),
 np.float64(37.82239),
 np.float64(38.0),
 np.float64(38.341244),
 np.float64(38.5),
 np.float64(39.0),
 np.float64(39.9),
 np.float64(40.0),
 np.float64(40.001),
 np.float64(40.21),
 np.float64(40.5524),
 np.float64(41.0),
 np.float64(41.43641),
 np.float64(41.666668),
 np.float64(41.842),
 np.float64(42.0),
 np.float64(42.1),
 np.float64(42.11),
 np.float64(42.112),
 np.float64(42.138233),
 np.float64(42.5),
 np.float64(42.93382),
 np.float64(43.0),
 np.float64(43.333332),
 np.float64(43.5),
 np.float64(43.64221),
 np.float64(43.75),
 np.float64(44.0),
 np.float64(44.2),
 np.float64(44.29666),
 np.float64(44.5),
 np.float64(45.0),
 np.float64(45.1),
 np.float64(45.21),
 np.float64(45.5),
 np.float64(45.58),
 np.float64(45.6),
 np.float64(46.0),
 np.float64(46.153847),
 np.float64(46.5),
 np.float64(47.0),
 np.float64(47.5),
 np.float64(47.9),
 np.float64(48.0),
 np.float64(48.1),
 np.float64(48.27),
 np.float64(48.32714),
 np.float64(48.426765),
 np.float64(48.4458),
 np.float64(48.5),
 np.float64(48.9),
 np.float64(48.9215),
 np.float64(49.0),
 np.float64(49.5),
 np.float64(49.834328),
 np.float64(49.837),
 np.float64(50.0),
 np.float64(50.1),
 np.float64(50.212063),
 np.float64(50.46),
 np.float64(50.5),
 np.float64(50.666),
 np.float64(51.0),
 np.float64(51.2),
 np.float64(51.221),
 np.float64(51.5),
 np.float64(51.921),
 np.float64(52.0),
 np.float64(52.1),
 np.float64(52.12),
 np.float64(52.2),
 np.float64(52.234882),
 np.float64(52.3),
 np.float64(52.5),
 np.float64(52.84849),
 np.float64(52.8942),
 np.float64(53.0),
 np.float64(53.5),
 np.float64(54.0),
 np.float64(54.221),
 np.float64(54.4),
 np.float64(54.5),
 np.float64(54.545456),
 np.float64(54.8),
 np.float64(54.843853),
 np.float64(54.9),
 np.float64(55.0),
 np.float64(55.1),
 np.float64(55.5),
 np.float64(55.542),
 np.float64(55.555557),
 np.float64(55.6),
 np.float64(56.0),
 np.float64(56.1),
 np.float64(56.23434),
 np.float64(56.25),
 np.float64(56.5),
 np.float64(56.521),
 np.float64(56.6),
 np.float64(56.642),
 np.float64(56.7),
 np.float64(57.0),
 np.float64(57.2),
 np.float64(57.5),
 np.float64(57.51),
 np.float64(57.8),
 np.float64(57.8438),
 np.float64(58.0),
 np.float64(58.1),
 np.float64(58.2),
 np.float64(58.311),
 np.float64(58.333332),
 np.float64(58.5),
 np.float64(58.72),
 np.float64(58.8),
 np.float64(58.921),
 np.float64(58.95),
 np.float64(58.95128),
 np.float64(58.9521),
 np.float64(59.0),
 np.float64(59.5),
 np.float64(59.73799),
 np.float64(59.821),
 np.float64(59.999),
 np.float64(60.0),
 np.float64(60.00003),
 np.float64(60.0001),
 np.float64(60.001),
 np.float64(60.01),
 np.float64(60.1),
 np.float64(60.2),
 np.float64(60.2121),
 np.float64(60.5),
 np.float64(60.9),
 np.float64(61.0),
 np.float64(61.121),
 np.float64(61.5),
 np.float64(61.6),
 np.float64(61.9),
 np.float64(62.0),
 np.float64(62.5),
 np.float64(62.6),
 np.float64(63.0),
 np.float64(63.5),
 np.float64(63.636364),
 np.float64(63.75),
 np.float64(64.0),
 np.float64(64.5),
 np.float64(64.821),
 np.float64(65.0),
 np.float64(65.5),
 np.float64(66.0),
 np.float64(66.5),
 np.float64(66.666664),
 np.float64(66.8),
 np.float64(67.0),
 np.float64(67.18321),
 np.float64(67.5),
 np.float64(67.65),
 np.float64(67.8),
 np.float64(67.84329),
 np.float64(68.0),
 np.float64(68.4),
 np.float64(68.5),
 np.float64(68.666),
 np.float64(68.75),
 np.float64(68.843),
 np.float64(68.9),
 np.float64(69.0),
 np.float64(69.5),
 np.float64(69.6),
 np.float64(69.621),
 np.float64(69.7),
 np.float64(69.8),
 np.float64(69.921),
 np.float64(70.0),
 np.float64(70.001),
 np.float64(70.01),
 np.float64(70.0122),
 np.float64(70.1),
 np.float64(70.155),
 np.float64(70.2),
 np.float64(70.21),
 np.float64(70.4),
 np.float64(70.5),
 np.float64(70.68133),
 np.float64(70.921),
 np.float64(71.0),
 np.float64(71.11113),
 np.float64(71.2),
 np.float64(71.5),
 np.float64(71.8321),
 np.float64(72.0),
 np.float64(72.1),
 np.float64(72.12121),
 np.float64(72.18),
 np.float64(72.2),
 np.float64(72.23424),
 np.float64(72.5),
 np.float64(72.521),
 np.float64(72.621),
 np.float64(72.72727),
 np.float64(72.84163),
 np.float64(73.0),
 np.float64(73.5),
 np.float64(73.821),
 np.float64(73.856),
 np.float64(74.0),
 np.float64(74.2),
 np.float64(74.4),
 np.float64(74.422485),
 np.float64(74.5),
 np.float64(74.8),
 np.float64(74.9),
 np.float64(74.921),
 np.float64(75.0),
 np.float64(75.2),
 np.float64(75.211),
 np.float64(75.31458),
 np.float64(75.5),
 np.float64(75.7),
 np.float64(76.0),
 np.float64(76.1),
 np.float64(76.21),
 np.float64(76.2121),
 np.float64(76.5),
 np.float64(76.96),
 np.float64(76.96969),
 np.float64(77.0),
 np.float64(77.5),
 np.float64(77.9),
 np.float64(78.0),
 np.float64(78.25),
 np.float64(78.3),
 np.float64(78.49201),
 np.float64(78.5),
 np.float64(78.7),
 np.float64(78.9),
 np.float64(78.92),
 np.float64(79.0),
 np.float64(79.34821),
 np.float64(79.4),
 np.float64(79.4215),
 np.float64(79.5),
 np.float64(79.6),
 np.float64(79.8),
 np.float64(80.0),
 np.float64(80.1),
 np.float64(80.342),
 np.float64(80.5),
 np.float64(81.0),
 np.float64(81.24),
 np.float64(81.248),
 np.float64(81.25),
 np.float64(81.3814),
 np.float64(81.5),
 np.float64(81.6),
 np.float64(81.9),
 np.float64(81.921),
 np.float64(81.99),
 np.float64(82.0),
 np.float64(82.1),
 np.float64(82.12121),
 np.float64(82.25),
 np.float64(82.4),
 np.float64(82.5),
 np.float64(82.51),
 np.float64(82.521),
 np.float64(82.6),
 np.float64(82.621),
 np.float64(83.0),
 np.float64(83.2321),
 np.float64(83.27),
 np.float64(83.333336),
 np.float64(83.5),
 np.float64(83.54824),
 np.float64(83.721),
 np.float64(83.75),
 np.float64(83.85),
 np.float64(83.9421),
 np.float64(84.0),
 np.float64(84.2),
 np.float64(84.25),
 np.float64(84.5),
 np.float64(84.51982),
 np.float64(84.53895),
 np.float64(84.58),
 np.float64(84.85),
 np.float64(84.96),
 np.float64(85.0),
 np.float64(85.3899),
 np.float64(85.5),
 np.float64(85.6),
 np.float64(85.7),
 np.float64(85.78822),
 np.float64(86.0),
 np.float64(86.0345),
 np.float64(86.1),
 np.float64(86.21),
 np.float64(86.5),
 np.float64(86.66),
 np.float64(86.7),
 np.float64(86.8),
 np.float64(86.92121),
 np.float64(87.0),
 np.float64(87.1),
 np.float64(87.328),
 np.float64(87.3284),
 np.float64(87.35),
 np.float64(87.4),
 np.float64(87.5),
 np.float64(87.6),
 np.float64(87.601),
 np.float64(87.65),
 np.float64(88.0),
 np.float64(88.4),
 np.float64(88.4723),
 np.float64(88.5),
 np.float64(88.7),
 np.float64(88.8),
 np.float64(88.81),
 np.float64(88.859924),
 np.float64(88.9),
 np.float64(88.99327),
 np.float64(89.0),
 np.float64(89.01),
 np.float64(89.1428),
 np.float64(89.2),
 np.float64(89.21),
 np.float64(89.5),
 np.float64(89.521),
 np.float64(89.621),
 np.float64(89.8),
 np.float64(89.83473),
 np.float64(89.9),
 np.float64(89.99),
 np.float64(90.0),
 np.float64(90.0423),
 np.float64(90.1),
 np.float64(90.14748),
 np.float64(90.21),
 np.float64(90.22666),
 np.float64(91.0),
 np.float64(91.2),
 np.float64(91.21),
 np.float64(91.221),
 np.float64(91.4),
 np.float64(91.421),
 np.float64(91.4258),
 np.float64(91.434),
 np.float64(91.5),
 np.float64(91.6),
 np.float64(91.666664),
 np.float64(91.8),
 np.float64(91.88),
 np.float64(91.9),
 np.float64(92.0),
 np.float64(92.021),
 np.float64(92.1),
 np.float64(92.5),
 np.float64(92.6),
 np.float64(93.0),
 np.float64(93.3),
 np.float64(93.5),
 np.float64(93.75),
 np.float64(93.8),
 np.float64(94.0),
 np.float64(94.5),
 np.float64(94.6),
 np.float64(94.8),
 np.float64(94.9),
 np.float64(95.0),
 np.float64(95.1),
 np.float64(95.2),
 np.float64(95.52),
 np.float64(95.6),
 np.float64(96.0),
 np.float64(96.421),
 np.float64(96.5),
 np.float64(96.6),
 np.float64(96.7),
 np.float64(97.0),
 np.float64(97.3889),
 np.float64(97.4),
 np.float64(97.5),
 np.float64(97.6),
 np.float64(97.9),
 np.float64(98.0),
 np.float64(98.333336),
 np.float64(98.5),
 np.float64(98.51),
 np.float64(98.521),
 np.float64(98.57143),
 np.float64(98.6),
 np.float64(98.65),
 np.float64(98.7),
 np.float64(98.75),
 np.float64(98.8),
 np.float64(98.89),
 np.float64(98.9),
 np.float64(99.0),
 np.float64(99.21),
 np.float64(99.5),
 np.float64(99.9),
 np.float64(100.0)]

In [9]:
films[films["Score"] < 2]

,Unnamed: 0,Movie,Reviewer,Publish,Review,Date,Score
1373,1374,ZEROS AND ONES,Chris Knight,National Post,Zeros and Ones is one dark movie. I don't mean...,21/01/2022,0.0
1500,1501,TWAS THE NIGHT,Roger Moore,Movie Nation,The worst Christmas film of them all.,05/12/2021,0.0
2032,2033,LADY OF THE MANOR,Nell Minow,RogerEbert.com,It is genuinely painful to see some of the mos...,17/09/2021,0.0
2144,2145,KAREN,Justin Brown,Medium Popcorn,One of the worst things I've seen in recent me...,17/09/2021,0.0
2147,2148,KAREN,Nick Allen,RogerEbert.com,Karen can only pat itself on the back for maki...,03/09/2021,0.0
...,...,...,...,...,...,...,...
416927,421356,MEET THE SPARTANS,Dave White,Movies.com,Because this movie was written for 10-year-old...,04/04/2011,0.0
416936,421365,MEET THE SPARTANS,Kimberley Jones,Austin Chronicle,To devote an entire feature film to making fun...,01/02/2008,0.0
416938,421367,MEET THE SPARTANS,Felix Vasquez Jr.,Film Threat,It's rare that a movie makes me ill these days...,30/01/2008,0.0
416946,421375,MEET THE SPARTANS,Liz Braun,Jam! Movies,If you part ways with $12 for a ticket to see ...,28/01/2008,0.0
416956,421385,MEET THE SPARTANS,Dustin Putman,TheFilmFile.com,Meet the Spartans is a downtrodden cinematic v...,25/01/2008,0.0

On Rotten Tomatoes, ratings seem to be out of 5 or 4 or 100 or a letter system, but this data seems to be normalised to being /100

### Roll up films to film-level

We can only group by title, but what if two films have the same title?!?

How often does that happen?

If we look at the min and max years for each movie, do we have ones that have a range that suggests it's actually two movies?

In [10]:
films["Date"] = pd.to_datetime(films["Date"], format="mixed", dayfirst=True)
films["year"] = films["Date"].dt.year

film_dates = films.groupby("Movie")["year"].agg(["min", "max"]).reset_index()
film_dates["range"] = film_dates["max"] - film_dates["min"]
film_dates.sort_values("range", ascending=False).head(20)

                         Movie   min   max  range
8549          TO CATCH A THIEF  1800  2020    220
1110               BLACK DEATH  1800  2019    219
243     A MATCH MADE IN HEAVEN  1800  2019    219
3132                 HEARTLESS  1800  2019    219
8927                WAH DO DEM  1800  2010    210
3017                   GUNLESS  1800  2010    210
9198                     WINGS  1927  2022     95
1495                 CAVALCADE  1933  2020     87
4267        LOOKIN' TO GET OUT  1982  2020     38
2452              FALLING DOWN  1993  2020     27
8544                   TITANIC  1997  2022     25
3329           HOWARD THE DUCK  2000  2022     22
8127          THE SEVENTH SEAL  2000  2022     22
255                 A NEW LEAF  2000  2022     22
7393        THE GREAT DICTATOR  2000  2022     22
3958  KISS OF THE SPIDER WOMAN  2000  2022     22
3689                 JALSAGHAR  2000  2022     22
2104        DO THE RIGHT THING  2000  2022     22
3628                    ISHTAR  2000  2022     22
5437                 PINOCCHIO  2000  2022     22

Looks like we do have films that have a long range between first and latest reviews but this could be:

- because people are still reviewing old films
- data errors (reviews from 1800)
- they are reviews about different films (we have no other way to tell)

Conclusion: we'll assume reviews of a movie title are always the same movie (for better or worse)

In [11]:
film_ratings = films.groupby("Movie")["Score"].mean().reset_index()

film_ratings.columns = ["film_title", "avg_film_rating"]

film_ratings["film_title"] = film_ratings["film_title"].str.upper().str.strip()

film_ratings.head()

                               film_title  avg_film_rating
0                                 #HORROR        53.400000
1  #UNFIT: THE PSYCHOLOGY OF DONALD TRUMP        77.750000
2                             $ (DOLLARS)        71.333333
3                                   $9.99        69.012821
4                                     '71        78.122549

In [13]:
film_ratings.to_parquet("./data/film_ratings.parquet", index=False)